$kayaWidth:138px;
$kayaHeight:88px;

.kaya{
  // width: 69px;
  // height:44px;
  width: $kayaWidth;
  height:$kayaHeight;
  min-width: $kayaWidth;
  min-height:$kayaHeight;
  background-size: 100% 100%;
  
}


.inputActionKaya{
  background-color:#00000052;
  background-image: url($playIconPath);
  background-repeat: no-repeat;
  background-position: center center;
  border:none;
  position: absolute;
  width: 90vw;
  height: 72vh;
  top:11.5vh;
  left:5vw;
  padding-bottom: 5vh;
  color: #00000000;
  opacity: 1;
  transition: 0.63s;
  cursor: pointer;
  @include borderZapala();


  &:hover, &:focus{
 
    background-color:#00000031 ;
    border:none;
    position: absolute;
    outline: none;
    
    &:focus{
       opacity: 0;
    }
  }

}