.scene01{
  @include dflex(flex-end,flex-start, wrap); 
  background-image: url($backgroundPath);
  background-size: cover;
  background-position-y: bottom;
  width: 90vw;
  height: 72vh;
  padding-bottom: 4.76vh;

  @include borderZapala();

  overflow: hidden;
}